:root {
  --primary: #cf4647;
  --secondary: #1d2427;
  --bg: #f8f6f6;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --hover: #ffd568;
  --light-red: #f2c1c1;
  --footer: #ffdbdc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: var(--secondary);
}

/* Navbar */
.header {
  display: flex;
  align-items: center;
  padding: 1.7rem 7%;
  background-color: var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.header .navbar-logo {
  margin-right: auto;
}

.header img {
  width: 12rem;
  height: 3rem;
}

.navbar a {
  position: relative;
  color: rgb(255, 255, 255);
  margin-right: 3.5rem;
  font-size: 1.1rem;
  margin-right: 2rem;
}

#faq {
  color: var(--hover);
}

/* hover */
.topik-hover {
  display: none;
  position: absolute;
  width: 15rem;
  left: 53.5%;
  transform: translateX(-70%);
  background-color: var(--bg);
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.topik-hover a {
  display: block;
  line-height: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  margin: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: gray;
}

.topik-hover a:hover {
  background-color: #f2c1c1;
  border-radius: 1rem;
  color: var(--secondary);
}

.topik:hover + .topik-hover,
.topik-hover:hover {
  display: block;
}

.navbar .nav:hover,
.topik:hover {
  color: var(--hover);
}
/* batas */

.navbar-extra a {
  color: var(--primary);
  padding: 0.5rem 2.5rem;
  background-color: var(--bg);
  border-radius: 5rem;
  font-weight: 800;
}

.navbar-extra a:hover {
  background-color: var(--hover);
}

section {
  min-height: auto;
  min-width: auto;
  padding: 10rem 7% 2rem;
}

/* Pubertas */
.pubertas {
  position: relative;
  display: block;
  height: 38rem;
}

.pubertas-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.2;
  padding: 5rem 0;
  margin-top: -2rem;
  margin-left: -5rem;
  margin-right: -5rem;
  background-image: url(../asset/Pattern-faq.png);
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
}

.pubertas-title {
  display: block;
  margin-top: -5rem;
  margin-left: 1rem;
}

.pubertas-box h1 {
  text-align: center;
}

.pubertas-box .title {
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 500;
  font-size: 8rem;
  color: var(--primary);
}

.pubertas-box .pubertas-span {
  font-size: 1.8rem;
}

/* gambar sampul pubertas */
.pubertas-box .image-1 {
  margin-top: -5rem;
  margin-left: 2rem;
}

.pubertas-box .image-1-2 {
  margin-top: -20rem;
}

.pubertas-box .image-2 {
  margin-left: -8rem;
  margin-top: -3rem;
}

/* main content */
.main {
  padding: 0;
  position: relative;
  display: block;
}

.main .main-container {
  display: block;
  margin-top: 3rem;
}

.main-container .main-box {
  border-bottom: 3px solid var(--primary);
  border-top: 3px solid var(--primary);
  background-color: var(--bg);
  padding: 4rem 12rem;
}

.main-box .box-title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.box-title h1 {
  font-weight: 800;
  font-size: 2rem;
  color: var(--primary);
}

.box-title h1:hover {
  color: var(--secondary);
}

.box-title h1:hover + a i {
  color: var(--secondary);
}

.box-title a i {
  color: var(--primary);
  font-size: 2rem;
}

/* panah */
/* #1 */
.box-title .bawah-pubertas-1 {
  display: none;
}

.bawah-pubertas-1.active {
  display: flex;
}

.kanan-pubertas-1.active {
  display: none;
}

.keterangan-pubertas-1.active {
  display: block;
}

#main-box-1.active {
  background-color: var(--footer);
}

/* #2 */
.box-title .bawah-pubertas-2 {
  display: none;
}

.bawah-pubertas-2.active {
  display: flex;
}

.kanan-pubertas-2.active {
  display: none;
}

.keterangan-pubertas-2.active {
  display: block;
}

#main-box-2.active {
  background-color: var(--footer);
}

/* #3 */
.box-title .bawah-pubertas-3 {
  display: none;
}

.bawah-pubertas-3.active {
  display: flex;
}

.kanan-pubertas-3.active {
  display: none;
}

.keterangan-pubertas-3.active {
  display: block;
}

#main-box-3.active {
  background-color: var(--footer);
}

/* batas */

.box-title i {
  font-size: 1.8rem;
  color: var(--bg);
}

.keterangan-pubertas-1,
.keterangan-pubertas-2,
.keterangan-pubertas-3 {
  padding-top: 2.5rem;
  color: var(--bg);
  display: none;
}

.main-box p {
  font-size: 1.5rem;
  text-align: left;
  text-align: justify;
  color: var(--secondary);
  font-weight: 500;
}

/* pertanyaan */
.container-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: -6rem;
  margin-bottom: 9rem;
}

.container-about h1 {
  font-size: 3.5rem;
  color: var(--primary);
  padding: 0 15rem;
  font-weight: 700;
}

.container-about p {
  color: var(--secondary);
  padding-left: 20rem;
  padding-right: 20rem;
  margin-top: 20px;
  color: #333;
  font-weight: 600;
}

.big-image {
  width: auto;
  height: auto;
  margin-bottom: 20px;
}

.p-title {
  font-size: 1.7rem;
}

.tanya-button {
  margin-top: 3rem;
  padding: 1rem 4rem;
  background-color: var(--primary);
  color: var(--bg);
  border-radius: 3rem;
  font-size: 1.5rem;
  border: 3px solid var(--primary);
  font-weight: 600;
}

.tanya-button:hover {
  color: var(--primary);
  background-color: var(--bg);
}

/* Lapak Ads */
.lapak-ads {
  padding: 0;
}

.ads {
  text-align: center;
  color: var(--bg);
  background-color: var(--primary);
  align-items: center;
  padding: 2rem 0;
  font-size: 1.5rem;
}

/* Footer */
.footer {
  padding: 0;
}

.footer-container {
  display: block;
  background-color: var(--footer);
}

.footer-box {
  padding-bottom: 1rem;
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  border-bottom: 2px solid var(--primary);
  align-items: center;
  margin: 0 3rem;
}

.footer-box .logo {
  cursor: default;
  margin-right: auto;
}

.footer-box img {
  width: 15rem;
  height: 5rem;
}

.kontak-kami h2 {
  font-size: 1.3rem;
  color: var(--primary);
  padding-left: 2rem;
  padding-bottom: 0.7rem;
}

.kontak-kami img {
  width: 3rem;
  height: 3rem;
}

/* paling bawah */
.copyright {
  text-align: center;
  color: var(--primary);
  padding: 1.5rem 0;
  font-weight: 500;
}
