:root {
  --primary: #cf4647;
  --secondary: #1d2427;
  --bg: #f8f6f6;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --hover: #ffd568;
  --light-red: #f2c1c1;
  --footer: #ffdbdc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: var(--secondary);
}

/* Navbar */
.header {
  display: flex;
  align-items: center;
  padding: 1.7rem 7%;
  background-color: var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.header .navbar-logo {
  margin-right: auto;
}

.header img {
  width: 12rem;
  height: 3rem;
}

.navbar a {
  position: relative;
  color: rgb(255, 255, 255);
  margin-right: 3.5rem;
  font-size: 1.1rem;
  margin-right: 2rem;
}

#mitos {
  color: var(--hover);
}

/* hover */
.topik-hover {
  display: none;
  position: absolute;
  width: 15rem;
  left: 53.5%;
  transform: translateX(-70%);
  background-color: var(--bg);
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.topik-hover a {
  display: block;
  line-height: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  margin: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: gray;
}

.topik-hover a:hover {
  background-color: #f2c1c1;
  border-radius: 1rem;
  color: var(--secondary);
}

.topik:hover + .topik-hover,
.topik-hover:hover {
  display: block;
}

.navbar .nav:hover,
.topik:hover {
  color: var(--hover);
}
/* batas */

.navbar-extra a {
  color: var(--primary);
  padding: 0.5rem 2.5rem;
  background-color: var(--bg);
  border-radius: 5rem;
  font-weight: 800;
}

.navbar-extra a:hover {
  background-color: var(--hover);
}

section {
  min-height: auto;
  min-width: auto;
  padding: 10rem 7% 2rem;
}

/* sampul atas*/
.home {
  position: relative;
  align-items: center;
  gap: 2rem;
  display: flex;
  justify-content: center;
  background-image: url(../asset/Pattern-Main-Page.png);
  background-position: 3.5rem 6.8rem;
  background-size: 95%;
  background-repeat: no-repeat;
}

.home .home-content {
  max-width: auto;
  line-height: 1.5;
}

.home-content h1 {
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 500;
}

.home-content .title {
  font-size: 3rem;
}

.home-content .home-span {
  color: var(--primary);
  font-size: 3.4rem;
}

.garis {
  background-color: var(--primary);
  border-radius: 10rem;
  height: 1rem;
  margin-top: -2.4rem;
  margin-left: 7.5rem;
  margin-right: 4rem;
}

/* mitos/fakta */
.mitos {
  padding-top: 6rem;
}

.mitos p {
  color: var(--secondary);
  font-weight: 700;
  font-size: 2rem;
}

.mitos-container {
  overflow: auto;
  margin-top: 3rem;
}

.mitos-card {
  justify-content: center;
  align-items: center;
  gap: 3rem;
  display: inline-flex;
}

.mitos-box-1 {
  z-index: 1;
  background-color: var(--primary);
  margin-bottom: 2.5rem;
  border-radius: 2rem;
  text-align: center;
  height: 33rem;
  width: 30rem;
}

.mitos-box-2 {
  z-index: 1;
  background-color: var(--footer);
  margin-bottom: 2.5rem;
  border-radius: 2rem;
  text-align: center;
  height: 33rem;
  width: 30rem;
}

#kiri-1,
#kiri-2,
#kiri-3,
#kiri-4,
#kiri-5,
#kiri-6,
#kiri-7,
#kiri-8 {
  display: none;
  align-items: center;
}

.mitos-box-1 img,
.mitos-box-2 img {
  height: 48%;
}

.mitos-box-1 h2 {
  display: flex;
  height: 10rem;
  color: var(--secondary);
  background-color: var(--bg);
  padding: 0 1.5rem;
  font-weight: 700;
  margin: 0 2rem;
  border-radius: 1.5rem;
  text-align: left;
  align-items: center;
}

.mitos-box-2 h2 {
  display: flex;
  height: 10rem;
  color: var(--primary);
  background-color: var(--bg);
  padding: 1.5rem;
  font-weight: 700;
  margin: 0 2rem;
  border-radius: 1.5rem;
  text-align: left;
  align-items: center;
}

.mitos-box-1 a {
  display: flex;
  justify-content: end;
  padding: 0.8rem 1.5rem;
  margin: 1rem;
  margin-left: 21rem;
  background-color: var(--bg);
  border-radius: 2rem;
  font-weight: 800;
  color: var(--secondary);
  gap: 0.3rem;
}

.mitos-box-2 a {
  display: flex;
  justify-content: end;
  padding: 0.8rem 1.5rem;
  margin: 1rem;
  margin-left: 21rem;
  background-color: var(--primary);
  border-radius: 2rem;
  font-weight: 800;
  color: var(--bg);
  gap: 0.3rem;
}

.mitos-box-1 a:hover {
  background-color: var(--hover);
  color: var(--primary);
}

.mitos-box-2 a:hover {
  background-color: var(--hover);
  color: var(--primary);
}

.mitos-ket-1,
.mitos-ket-3,
.mitos-ket-4,
.mitos-ket-6,
.mitos-ket-8 {
  background-color: var(--footer);
  margin-bottom: 2.5rem;
  border-radius: 2rem;
  width: 27rem;
  height: 33rem;
  margin-left: -6rem;
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  padding-left: 4rem;
  padding-bottom: 1.5rem;
  text-align: justify;
  display: none;
}

.mitos-ket-2,
.mitos-ket-5,
.mitos-ket-7 {
  background-color: var(--primary);
  margin-bottom: 2.5rem;
  border-radius: 2rem;
  width: 27rem;
  height: 33rem;
  margin-left: -6rem;
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  padding-left: 4rem;
  padding-bottom: 1.5rem;
  text-align: justify;
  display: none;
}

.mitos-title {
  display: flex;
  gap: 1rem;
  border-bottom: 7px solid var(--primary);
  padding-bottom: 1rem;
}

.mitos-title h1 {
  font-size: 3rem;
  color: var(--primary);
}

.mitos-keterangan-1,
.mitos-keterangan-4 {
  overflow: auto;
  height: 22rem;
  margin-top: 1.5rem;
}

.mitos-keterangan-4 {
  padding-right: 1.5rem;
}

.mitos-keterangan-2 {
  overflow: auto;
  height: 28rem;
  margin-top: 1.5rem;
  padding-right: 1.5rem;
}

.mitos-keterangan-1 p,
.mitos-keterangan-4 p {
  color: var(--secondary);
  font-size: 1rem;
  font-weight: 500;
  text-align: start;
  text-align: justify;
  overflow: auto;
}

.mitos-keterangan-2 p {
  color: var(--bg);
  font-size: 1rem;
  font-weight: 500;
  text-align: start;
  text-align: justify;
  overflow: auto;
}

.mitos-keterangan-1 span {
  font-weight: bold;
}

/* click mitos/fakta */
#kanan-1.active,
#kanan-2.active,
#kanan-3.active,
#kanan-4.active,
#kanan-5.active,
#kanan-6.active,
#kanan-7.active,
#kanan-8.active {
  display: none;
}

#kiri-1.active,
#kiri-2.active,
#kiri-3.active,
#kiri-4.active,
#kiri-5.active,
#kiri-6.active,
#kiri-7.active,
#kiri-8.active {
  display: flex;
}

.mitos-ket-1.active,
.mitos-ket-2.active,
.mitos-ket-3.active,
.mitos-ket-4.active,
.mitos-ket-5.active,
.mitos-ket-6.active,
.mitos-ket-7.active,
.mitos-ket-8.active {
  display: block;
}
/* batas */

/* scroll */

/* main-cotent mitos atau fakta */
/* width */
.mitos-container::-webkit-scrollbar {
  height: 10px;
}

/* Track */
.mitos-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.mitos-container::-webkit-scrollbar-thumb {
  background: #b6b3b3;
  border-radius: 10px;
}

/* Handle on hover */
.mitos-container::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

/* #mitos-keterangan */
/* width */
.mitos-keterangan-2::-webkit-scrollbar,
.mitos-keterangan-4::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.mitos-keterangan-2::-webkit-scrollbar-track,
.mitos-keterangan-4::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.mitos-keterangan-2::-webkit-scrollbar-thumb,
.mitos-keterangan-4::-webkit-scrollbar-thumb {
  background: #b6b3b3;
  border-radius: 10px;
}

/* Handle on hover */
.mitos-keterangan-2::-webkit-scrollbar-thumb:hover,
.mitos-keterangan-4::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

/* Lapak Ads */
.lapak-ads {
  padding: 0;
  margin-top: 7rem;
}

.ads {
  text-align: center;
  color: var(--bg);
  background-color: var(--primary);
  align-items: center;
  padding: 2rem 0;
  font-size: 1.5rem;
}

/* Footer */
.footer {
  padding: 0;
}

.footer-container {
  display: block;
  background-color: var(--footer);
}

.footer-box {
  padding-bottom: 1rem;
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  border-bottom: 2px solid var(--primary);
  align-items: center;
  margin: 0 3rem;
}

.footer-box .logo {
  cursor: default;
  margin-right: auto;
}

.footer-box img {
  width: 15rem;
  height: 5rem;
}

.kontak-kami h2 {
  font-size: 1.3rem;
  color: var(--primary);
  padding-left: 2rem;
  padding-bottom: 0.7rem;
}

.kontak-kami img {
  width: 3rem;
  height: 3rem;
}

/* paling bawah */
.copyright {
  text-align: center;
  color: var(--primary);
  padding: 1.5rem 0;
  font-weight: 500;
}
